<h2 mat-dialog-title>Crear Productos</h2>
<mat-dialog-content>
    <p>
        Complete la siguiente información para crear productos.
    </p>
    <form class="example-form" [formGroup]="collectionForm" (ngSubmit)="submitCollection()">
        <div class="row">
            <div class="col-lg-6 m-b-8">
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput formControlName="collectionName"> @if (collectionForm.get('firstName')?.hasError('required')) {
                    <mat-error>El nombre es <strong>obligatorio.</strong></mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-lg-6 m-b-8">
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput formControlName="address"> @if (collectionForm.get('address')?.hasError('required')) {
                    <mat-error>La dirección <strong>obligatorio.</strong></mat-error>
                    }
                </mat-form-field>
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button color="warn " mat-dialog-close>Cancelar</button>
    <button mat-flat-button type=" submit " color="primary " class="m-r-8 " (click)="submitCollection()">Crear Punto de Recolección</button>
</mat-dialog-actions>