<h2 mat-dialog-title>Editar Usuarios</h2>
<mat-dialog-content>
    <p>
        Complete la siguiente información para actualizar usuarios.
    </p>
    <form class="example-form" [formGroup]="profileForm" (ngSubmit)="submitUserUpdate()">
        <div class="row">
            <div class="col-lg-6 m-b-8">
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <mat-label>Nombres</mat-label>
                    <input type="text" matInput formControlName="firstName"> @if (profileForm.get('firstName')?.hasError('required')) {
                    <mat-error>Los nombres son <strong>obligatorios.</strong></mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-lg-6 m-b-8">
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <mat-label>Apellidos</mat-label>
                    <input type="text" matInput formControlName="lastName"> @if (profileForm.get('lastName')?.hasError('required')) {
                    <mat-error>Los apellidos son <strong>obligatorios.</strong></mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-lg-6 m-b-8">
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <mat-label>Número de documento</mat-label>
                    <input type="text" matInput formControlName="documentNumber"> @if (profileForm.get('documentNumber')?.hasError('required')) {
                    <mat-error>El número de documento es <strong>obligatorio.</strong></mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-lg-6 m-b-8">
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthDate" [max]="maxDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    @if (profileForm.get('birthDate')?.hasError('required')) {
                    <mat-error>La fecha de nacimiento es <strong>obligatoria.</strong></mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-lg-6 m-b-8">
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <mat-label>Correo Electrónico</mat-label>
                    <input type="email" matInput formControlName="userEmail" placeholder="pat@example.com"> @if (profileForm.get('userEmail')?.hasError('email') && !profileForm.get('userEmail')?.hasError('required')) {
                    <mat-error>Ingrese un correo válido para coninuar.</mat-error>
                    } @if (profileForm.get('userEmail')?.hasError('required')) {
                    <mat-error>El correo es <strong>oligatorio.</strong></mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-lg-6 m-b-8">
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <mat-label>Usuario de acceso</mat-label>
                    <input type="text" matInput formControlName="userName"> @if (profileForm.get('userName')?.hasError('required')) {
                    <mat-error>El nombre de usuario de acceso es <strong>obligatorio.</strong></mat-error>
                    }
                </mat-form-field>
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button type=" submit " color="primary " class="m-r-8 " (click)="submitUserUpdate()">Actualizar Usuario</button>
    <button mat-stroked-button color="warn " mat-dialog-close>Cancelar</button>
</mat-dialog-actions>