<div class="blank-layout-container justify-content-center align-items-center bg-light">
    <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
        <div class="col-lg-4 d-flex align-items-center">
            <mat-card class="cardWithShadow boxed-auth">
                <mat-card-content class="p-32">
                    <div class="text-center">
                        <h1>AgroConecta</h1>
                    </div>

                    <form class="m-t-30" [formGroup]="formLogin" (ngSubmit)="submitLogin()">
                        <mat-label>Nombre de usuario</mat-label>
                        <mat-form-field appearance="outline" class="w-100" color="primary">
                            <input type="text" matInput formControlName="uname"> @if (formLogin.get('uname')?.hasError('required')) {
                            <mat-error>El nombre de usuario es <strong>obligatorio.</strong></mat-error>
                            }
                        </mat-form-field>
                        <mat-label>Contraseña</mat-label>
                        <mat-form-field appearance="outline" class="w-100" color="primary">
                            <input type="password" matInput formControlName="password"> @if (formLogin.get('password')?.hasError('required')) {
                            <mat-error>La contraseña es <strong>obligatoria.</strong></mat-error>
                            }
                        </mat-form-field>
                        <button mat-flat-button color="primary" class="w-100" type="submit">
              Iniciar sesión
            </button>
                        <!-- input -->
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>